<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>

<p>
  <strong>Experience in years:</strong>
  <%= @artist.experience_in_years %>
</p>

<p>
  <strong>Formally trained:</strong>
  <%= @artist.formally_trained %>
</p>

<p>
  <strong>Review rating:</strong>
  <%= @artist.review_rating %>
</p>

<p>
  <strong>Days to delivery:</strong>
  <%= @artist.days_to_delivery %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
