<p id="notice"><%= notice %></p>


<% if can? :manage, User %>
  <p>Visible only for superadmins and supervisors! </p>
<% end %>

<div class="center jumbotron">
  <h2> Welcome to Bespoken, the online home of new artists and their work!</h2>
<div class="text-center">
  <div class="btn-group">
    <%= link_to "Find an Artist", artists_path, class: "btn btn-lrg btn-primary" %> 
    <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-lrg btn-danger" %> 
    <%= link_to "Read our Blog", blogs_path, class: "btn btn-lrg btn-primary" %> 
  </div>
</div>
</div>

<%= render 'partials/paintings', paintings: @paintings %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @paintings.each do |painting| %>
      <tr>
        <td><%= painting.name %></td>
        <td><%= painting.description %></td>
        <td><%= image_tag painting.cover.url, width: 200 if painting.cover? %></td>

        <td><%= link_to 'Show', painting %></td>
        <td><%= link_to 'Edit', edit_painting_path(painting) %></td>
        <td><%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Painting', new_painting_path %>

